<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9f4dcf43-aa06-457b-b975-f0216baef20d/resourceGroups/storage-2349-prototype/providers/Microsoft.Web/sites/storage2349</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://storage2349.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>storage2349.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>storage2349</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$storage2349</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>